$color-primary: #161417;
$medium-gray: #5C5C5C;
$dark-gray: #403B40;
$dark-charcoal: #3C3B40;
$deep-gray: #403B3B;
$purple-haze: #402340;
$white: white;

$shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;