@use 'variables' as *;

.about {
  .container {
    .container-card {
      gap: 2rem;

      .card {
        .first {
          h1 {
            margin: 0;
          }

          a {
            text-decoration: none;
            color: $color-primary;
          }

          p {
            margin: 0;
          }
        }
      }
    }
  }
}