@use 'variables' as *;

.nav {
  border-bottom: 1px solid $color-primary;

  .container {
    height: 5rem;
    padding: 0 5rem;

    img {
      width: 64px;
      cursor: pointer;
      border-radius: 0.2rem;
    }

    .hamburguer {
      display: none;
    }

    .item-container {
      gap: 1rem;

      .item {
        font-size: 20px;
        cursor: pointer;
        position: relative;

        .item-l {
          position: absolute;
          left: 0;
          right: 100%;
          bottom: -5px;
          height: 2px;
          background-color: $color-primary;
          transition: right 500ms;
        }
      }

      .item:hover {
        .item-l {
          right: 0;
        }
      }

      .active {
        .item-l {
          right: 0;
        }
      }

    }

    .settings {
      cursor: pointer;
      user-select: none;
      transition: transform 0.5s ease;

    }

    .rotated {
      transform: rotate(180deg);
      display: none;
    }

  }

}

@media screen and (max-width: 991px) {
  .nav {
    .container {
      flex-direction: column;
      min-height: 5rem;
      padding-top: 1rem;
      transition: 2s;
      overflow: hidden;
      padding: 0;

      .container-resposive {
        display: flex;
        justify-content: center;
        gap: 50%;
        padding: 0.5rem;
        align-items: center;
        width: 100%;

        .container-hamb {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 18px;
          width: 1rem;
          position: relative;
          cursor: pointer;

          .hamburguer {
            display: flex;
            position: absolute;
            height: 2px;
            width: 24px;
            background-color: $color-primary;
            transition: 500ms;
          }

          #one {
            top: 0;
          }

          #three {
            bottom: 0;
          }
        }
      }

      .item-container {
        flex-direction: column;
        border-top: 1px solid $color-primary;
        align-items: center;
        width: 100%;
        gap: 0;

        .item:last-child {
          border-bottom: none;
        }

        .item {
          border-bottom: 1px solid $color-primary;
          width: 100%;
          height: 4rem;



          .item-l {
            display: none;
          }
        }

        .active {
          color: $white;
          background-color: $purple-haze;
        }
      }
    }

  }

  .open {
    .container {
      height: 21rem;

      .container-resposive {
        .container-hamb {
          #one {
            rotate: 45deg;
            top: 7px;
          }

          #two {
            opacity: 0;
          }

          #three {
            bottom: 9px;
            rotate: -45deg;
          }
        }
      }
    }
  }
}