<nav class="nav position-relative">
  <div #nav class="container d-flex align-items-center justify-content-between p-0"
    [ngClass]="hamburguer ? 'open' : ''">
    <div class="container-resposive">
      <img src="/assets/images/main.png" alt="not found" routerLink="/" />
      <div class="container-hamb" (click)="handleMenu()" [class.open]="hamburguer">
        <div class="hamburguer" id="one"></div>
        <div class="hamburguer" id="two"></div>
        <div class="hamburguer" id="three"></div>
      </div>
    </div>
    <div #itemContainer class="item-container d-flex">
      @for (item of items; track $index) {
      <div #item id="item" class="item" [routerLink]="item.link" (click)="handleMenu()"
        [class.active]="'/' + item.link == routeActually">
        {{ item.title | transloco }}
        <label class="item-l" for="item"></label>
      </div>
      }
    </div>

    <div class="settings position-absolute end-0 top-0 m-3">
      <fa-icon [icon]="icon" (click)="open()"></fa-icon>
    </div>
  </div>
</nav>