  .icono{
    font-size: xx-large;
    padding-top: 9px;
  }
  
  .wrapper .icon {
    position: relative;
    background: #ffffff;
    color: var(--negro);
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 2rem;
    height: 2rem;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .JavaScript:hover,
  .wrapper .JavaScript:hover .tooltip,
  .wrapper .JavaScript:hover .tooltip::before {
    background: yellow;
    color: black;
  }

  .wrapper .TypeScript:hover,
  .wrapper .TypeScript:hover .tooltip,
  .wrapper .TypeScript:hover .tooltip::before {
    background: #017acd;
    color: black;
  }
  
  .wrapper .NodeJs:hover,
  .wrapper .NodeJs:hover .tooltip,
  .wrapper .NodeJs:hover .tooltip::before {
    background: #7dcf3c;
    color: black;
  }
  
  .wrapper .ReactJs:hover,
  .wrapper .ReactJs:hover .tooltip,
  .wrapper .ReactJs:hover .tooltip::before {
    background: #63d9f9;
    color: black;
  }

  .wrapper .Redux:hover,
  .wrapper .Redux:hover .tooltip,
  .wrapper .Redux:hover .tooltip::before {
    background: #7748bb;
    color: black;
  }
  
  .wrapper .PostgreSQL:hover,
  .wrapper .PostgreSQL:hover .tooltip,
  .wrapper .PostgreSQL:hover .tooltip::before {
    background: #316192;
    color: black;

  }
  
  .wrapper .ExpressJs:hover,
  .wrapper .ExpressJs:hover .tooltip,
  .wrapper .ExpressJs:hover .tooltip::before {
    background: black;
    color: #ffffff;
  }

  .wrapper .Sequelize:hover,
  .wrapper .Sequelize:hover .tooltip,
  .wrapper .Sequelize:hover .tooltip::before {
    background: #2596be;
    color: black;
  }

  .wrapper .CSS:hover,
  .wrapper .CSS:hover .tooltip,
  .wrapper .CSS:hover .tooltip::before {
    background: #274ce4;
    color: black;
  }

  .wrapper .Sass:hover,
  .wrapper .Sass:hover .tooltip,
  .wrapper .Sass:hover .tooltip::before {
    background: #c76494;
    color: white;
  }

  .wrapper .GitHub:hover,
  .wrapper .GitHub:hover .tooltip,
  .wrapper .GitHub:hover .tooltip::before {
    background: black;
    color: white;
  }

  .wrapper .Heroku:hover,
  .wrapper .Heroku:hover .tooltip,
  .wrapper .Heroku:hover .tooltip::before {
    background: #3f347c;
    color: white;
  }

  .wrapper .Heroku:hover,
  .wrapper .Heroku:hover .tooltip,
  .wrapper .Heroku:hover .tooltip::before {
    background: #3f347c;
    color: white;
  }

  .wrapper .Vercel:hover,
  .wrapper .Vercel:hover .tooltip,
  .wrapper .Vercel:hover .tooltip::before {
    background: black;
    color: white;
  }

  .wrapper .Postman:hover,
  .wrapper .Postman:hover .tooltip,
  .wrapper .Postman:hover .tooltip::before {
    background: #ff6c38;
    color: black;
  }