@use 'variables' as *;

.home {
  height: 100vh;

  .container {
    gap: 3rem;

    .presentacion {
      .card {
        padding: 2rem;
        box-shadow: $shadow;

        .first {
          width: 50%;

          img {
            width: 10rem;
            border-radius: 100%;
            box-shadow: $shadow;
            user-select: none;
          }
        }

        .second {
          width: 50%;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .home {
    .container {
      .presentacion {
        .card {
          .first {
            width: 100%;
          }

          .second {
            width: 100%;
          }
        }
      }
    }
  }

}