<div id="home">
  <div class="container d-flex flex-column">
    <div class="presentacion d-flex flex-column align-items-center justify-content-center w-100">
      <div class="card d-flex flex-row justify-content-between align-items-center w-100">
        <div class="first d-flex align-items-center justify-content-between">
          <img src="/assets/images/bruno-david.jpeg" alt="Bruno" />
        </div>

        <div class="second">
          <p>
            {{ 'HOME.TITLE' | transloco }}
          </p>
        </div>
      </div>
    </div>
    <div class="hobbies">
      <!--       <div class="card">
        <div class="first">
          <h1>Hobbies</h1>
        </div>
        <div class="second">
          <p></p>
        </div>
      </div>
 -->
    </div>
  </div>
</div>