<div id="home">
  <div class="container">
    <div class="presentacion">
      <div class="card">
        <div class="first">
          <img src="/assets/bruno-david.jpeg" alt="not found" />
        </div>


        <div class="second">
          <span> Probando traduccion => {{ 'name' | transloco }}</span>


          <p>
            Mi nombre es Bruno David <br />
            Soy Full-Stack Web Developer motivado a desarrollar constantemente
            mis habilidades y crecer profesionalmente. Buscando una oportunidad
            para seguir aprendiendo en un entorno colaborativo.
          </p>
        </div>
      </div>
    </div>
    <div class="hobbies">
      <div class="card">
        <div class="first">
          <h1>Hobbies</h1>
        </div>
        <div class="second">
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>