<div class="projects d-flex flex-column">
  <div class=" laboral d-flex flex-column align-items-center">
    <h1>{{ 'PROJECTS.WORK-EXPERIENCE.TITLE' | transloco }}</h1>
    <div class="container d-flex justify-content-center flex-wrap align-items-center">
      <div class="card align-items-center justify-content-center" *ngFor="let card of works">
        <h1>{{ card.title }}</h1>
        <p>{{ card.subtitle }}</p>
        <p>{{ card.desciption }}</p>
        <div *ngFor="let item of card.tecnologias">
          <p>{{ item.title }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="proyectos d-flex flex-column align-items-center">
    <h1>{{ 'PROJECTS.PROJECTS.TITLE' | transloco }}</h1>
    <div class="container d-flex flex-wrap justify-content-center align-items-center">
      <div class="card align-items-center justify-content-center" *ngFor="let card of projects">
        <h1>{{ card.title }}</h1>
        <p>{{ card.desciption | transloco }}</p>
        <div *ngFor="let item of card.tecnologias">
          <p>{{ item.title }}</p>
        </div>
      </div>
    </div>
  </div>
</div>