.bodyAbout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 50rem;
}

.about{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.aboutMe{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
    background-color: var(--negro);
    width: 20rem;
    height: 15rem;
    border-radius: 1rem;
    border: 0.1rem solid var(--verde);
}
.aboutMe span{
    color: var(--blanco);
}

.tecnologias{
    display: grid;
    justify-content: center;
    width: 100%;
    height: 20rem;
    grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
}

.tecnologias a{
    height: 0;
    width: 0;
}