.bodyFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--negro);
    color: white;
}
.orderIcons{
    display: flex;
    width: 5rem;
    justify-content: space-between;
}
.icons{
    height: 25px;
    width: 25px;
    color: var(--blanco);
    transition-duration: 0.5s;
}
.icons:hover{
    transition-duration: 0.5s;
    filter: drop-shadow(0 0 5px var(--verde));
}

