.bodyNav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5rem;
    background-color: #17202A;
}
.bodyButtons{
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 50%;
}

.settings{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: white;
}


.buttonNav {
    font-size: 18px;
    color: var(--verde);
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}
.buttonNav:focus,
.buttonNav:hover {
    color: var(--gris);
}
.buttonNav:focus:after,
.buttonNav:hover:after {
    width: 100%;
    left: 0%;
}
.buttonNav:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--verde);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}
