.bodyContact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.formContact{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.6s;
    background-color: #111111bd;
    pointer-events: none;
}

.formContact1{
    transition: 1s;
    transition: opacity 0.6s;
    pointer-events: unset;
    opacity: 1;
}

.bodyForm{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 40%;
    min-height: 80vh;
    border: 1px solid var(--negro);
    border-radius: 0.5rem;
    background-color: var(--azul);
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
    min-height: 100%;
}

.textarea{
    min-height: 40vh;
    max-height: 40vh;
    max-width: 60vh;
}

.button59 {
  align-items: center;
  border: none;
  background-color: var(--azul);
  color: var(--gris);
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  height: 5vh;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .45s;
}

.button59:hover {
  color: var(--verde);
}



/* Input */
.formGroup {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 70%;
  }
  
  .formField {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  .formField::placeholder {
    color: transparent;
  }
  .formField:placeholder-shown ~ .formLabel {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
  
  .formLabel {
    position: absolute;
    top: 0;
    pointer-events: none;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
  }
  
  .formField:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
  }
  .formField:focus ~ .formLabel {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
  }
  
  /* reset input */
  .formField:required, .formField:invalid {
    box-shadow: none;
  }

  .labelInput{
    position: absolute;
    pointer-events: none;
    color: red;
    right: 0.5rem;
    top: 1.5rem;
  }
  .labelInfo{
    right: 2rem;
  }

  .labelOculto{
    display: none;
  }

  @media (max-width: 768px) {
    .button-59 {
      min-width: 170px;
    }
    .bodyContact{
      display: flex;
      flex-direction: column;
    }
  }