.bodyAbout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 50rem;
}

.about{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.aboutMe{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
    background-color: var(--negro);
    width: 20rem;
    height: 16rem;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--verde);
    color: var(--blanco);
}


.tecnologias{
    display: grid;
    justify-content: center;
    width: 100%;
    height: 20rem;
    grid-template-columns: repeat(9, 5rem);
}

.tecnologias a{
    height: 0;
    width: 0;
}

@media (max-width: 768px) {
    .bodyAbout{
        align-items: center;
    }
    .about{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .tecnologias{
        display: grid;
        width: 100%;
        height: 20rem;
        max-height: auto;
        grid-template-columns: repeat(4, 5rem);
    }
}