<div class="tecnologies">
  <div class="container d-flex flex-column">
    <div *ngFor="let item of tecnologies" class="item d-flex align-items-center justify-content-between"
      [ngClass]="item.title">
      <h1>{{ item.title }}</h1>
      <div class="subItem d-flex flex-wrap align-items-center justify-content-end">
        <div class="tecnology d-flex align-items-center justify-content-center" *ngFor="let subItem of item.items">
          <p class="m-0">{{ subItem.title }}</p>
        </div>
      </div>
    </div>
  </div>
</div>